<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            background: #20262E;
            padding: 20px;
            font-family: Helvetica;
        }

        #app {
            background: #fff;
            border-radius: 4px;
            padding: 20px;
            transition: all 0.2s;
        }

        h2 {
            font-weight: bold;
            margin-bottom: 15px;
        }

        .main {
            display: flex;
            flex-wrap: wrap;
        }
    </style>
    <style>
        .shortcut::first-letter {
            /* yellow-500 */
            color: #ecc94b;
            font-size: 105%;
        }

        /* https://stackoverflow.com/q/3790935/1248177 */
        input[type=number]::-webkit-outer-spin-button,
        input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            appearance: none;
            margin: 0;
        }

        input[type=number] {
            -moz-appearance: textfield;
        }

        hr {
            border-width: 0 0 2px;
            border-color: #edf2f7;
        }
    </style>
</head>

<body>
    <div id="app">
        <h2>Abacus</h2>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center"
            type="button" v-on:click="createQuery()">
            <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" />
            </svg>
            <span class="shortcut">export</span>
        </button>

        <hr class="my-2">

        <div class="main">
            <section v-for="(todo, index) in todos" class="p-2" style="height: 200px; width: 200px;">
                <div class="max-w-sm rounded overflow-hidden shadow-lg h-full bg-gray-100">

                    <div class="w-full flex justify-end">
                        <button
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold rounded inline-flex items-center p-1 l-0"
                            type="button" v-on:click="remove(index)">
                            <svg class="fill-current w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                                <path
                                    d="M16.24 14.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 0 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12l2.83 2.83z" />
                            </svg>
                        </button>
                    </div>

                    <div class="px-3 py-2">
                        <input v-model="todo.text" class="font-bold text-xl mb-2 bg-transparent w-full" />
                    </div>

                    <section class="mx-3 flex items-center border-b border-b-2 border-teal-500 py-2">
                        <input
                            class="text-center text-xl appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
                            v-model="todo.value" type="number" placeholder="0" aria-label="current count">
                    </section>

                    <div class="px-3 py-2 flex justify-center">
                        <button
                            class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 mr-1 rounded inline-flex items-center"
                            v-on:click="decrement(todo)">
                            <svg class="fill-current w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20">
                                <path d="M17 11a1 1 0 0 1 0 2H7a1 1 0 0 1 0-2h10z" /></svg>
                        </button>

                        <button
                            class="bg-blue-500 hover:bg-blue-800 text-white font-bold py-2 px-4 ml-1 rounded inline-flex items-center"
                            v-on:click="increment(todo)">
                            <svg class="fill-current w-4 h-4 mr-1" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20">
                                <path
                                    d="M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z" />
                            </svg>
                        </button>
                    </div>
                </div>

            </section>
            <section class="p-2" style="width: 200px; height: 200px;">
                <div
                    class="max-w-sm rounded overflow-hidden bg-gray-200 shadow-lg flex items-center justify-center h-full">
                    <button
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded inline-flex items-center"
                        v-on:click="add">
                        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path
                                d="M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z" />
                        </svg>
                        <span class="shortcut">new</span>
                    </button>
                </div>
            </section>
        </div>

        <!--<pre>debug: {{JSON.stringify(todos)}}</pre>-->
    </div>

    <script>

        // https://stackoverflow.com/questions/27253834/jquery-keypress-ignore
        const shortucts = ['e', 'n'];
        document.querySelectorAll('input').forEach(element => element.addEventListener('keypress', function (event) {
            // var keycode = (event.keyCode ? event.keyCode : event.which);
            // if (shortucts.includes(event.key)) { }
            event.stopPropagation();
        }));



        function addQueryString(url, queryString) {
            if (!queryString) {
                return url;
            }

            const isQuestionMarkPresent = url && url.indexOf('?') !== -1;
            const separator = isQuestionMarkPresent ? '&' : '?';
            return url + separator + queryString;
        };

        function loadQueryString() {
            const search = window.location.search;
            if (!search)
                return [{ text: "title", value: 0 }];

            const parameters = [...(new URLSearchParams(search)).entries()];
            if (parameters.length == 0)
                return [{ text: "title", value: 0 }];

            const validParameters =
                parameters
                    .filter(([key, value]) => !!key && !!value && parseInt(value).toString() === value);
            if (validParameters.length == 0)
                return [{ text: "title", value: 0 }];

            const results =
                validParameters
                    .map(([key, value]) => ({ "text": key, "value": parseInt(value) }));

            return results;
        }

        new Vue({
            el: "#app",
            created() {
                this.onKeyDown = this.onKeyDown.bind(this);
                document.addEventListener('keydown', this.onKeyDown);
            },
            destroyed() {
                document.removeEventListener('keydown', this.onKeyDown);
            },
            data: {
                todos: loadQueryString()
            },
            methods: {
                increment: todo => todo.value++,
                decrement: todo => todo.value--,
                add: function () {
                    this.todos.push({ text: "title", value: 0 });
                },
                remove: function (index) {
                    this.todos.splice(index, 1)
                },
                createQuery: function () {
                    const queryString =
                        this.todos
                            .filter(todo => !!todo.text)
                            .map(todo => `${encodeURIComponent(todo.text)}=${encodeURIComponent(todo.value)}`)
                            .join('&');

                    // we have a bug here. If we open the page twice, we can have a card twice
                    const url = addQueryString(window.location.href, queryString);
                    alert(url);
                },
                onKeyDown(e) {
                    if (document.activeElement.tagName == "INPUT") {
                        e.stopPropagation();
                        return;
                    }

                    switch (e.key) {
                        case 'n': this.add(); break;
                        case 'e': this.createQuery(); break;
                    }
                }
            }
        })
    </script>
</body>

</html>